[user]
    name = Jens-André Koch
    email = jakoch@web.de

[github]
    user = jakoch
    token = @token@

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[alias]
    br = branch
    c = commit
    co = checkout
    df = diff
    st = status

    # Pull in remote changes for the current repository and all its submodules
    p = !"git pull; git submodule foreach git pull origin master"

    # Commit all changes
    ca = !git add -A && git commit -av

    # rebase interactive
    rbi = rebase -i

    # Undo `git push`
    undopush = push -f origin HEAD^:master

    # Show verbose output about tags, branches or remotes
    tags = tag -l
    branches = branch -a
    remotes = remote -v

# always set `origin` as the default remote on the `master` branch
[branch "master"]
    remote = origin
    merge = refs/heads/master

[push]
  default = tracking

[format]
  pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s

# anti whitespace
[core]
    # enforce "trailing-spaces" and "mixing spaces with tabs" as errors
    # To get rid of trailing whitespace on all files in the current directory, use: sed -i 's/[[:space:]]*$//' *
    whitespace = trailing-space,
[apply]
    # when applying a patch, strip whitespaces out
    whitespace = fix