#
# .gitignore
#
# Ignore works for the dir the gitignore file resides in.
# To have a global effect affect to all repositories run this command:
# git config --global core.excludesfile ~/.gitignore

# Windows crap
Thumbs.db

# Netbeans IDE related
nbproject

# Eclipse IDE related
.cache*
.project
.settings*
.buildpath

# PHPStorm IDE related
.idea

# Webserver
/.htaccess

# Scriptfiles
*.log

# PHPUnit
# phpunit.xml

# PHP composer related
composer.lock
vendor

# php-cs-fixer
php-cs-fixer*.txt

# build folders for standard php projects
build/api
build/code-browser
build/coverage
build/logs
build/pdepend

# various files
._*
.~lock.*
*.bak
