! Xft settings

Xft*dpi:                96
Xft*hinting:            true
Xft*hintstyle:          2
Xft*antialias:          true
Xft*rgba:               rgb

! URxvt settings

URxvt*font:              -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*boldFont:          -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*loginShell:        true
URxvt*scrollBar:         false
! URxvt*scrollstyle:      plain
!URxvt*scrollBar_right:  true
URxvt*termName:          rxvt
URxvt.buffered:          true
URxvt.perl-ext:          default,matcher
URxvt.urlLauncher:       chromium
URxvt.matcher.button:    1.
URxvt.transparent:       True
URxvt.shading:           25
URxvt*background:        black
URxvt*foreground:        grey
URxvt*font:              xft:Terminus-10
URxvt*cursorColor:       green
URxvt*fading:            10
URxvt*fadeColor:         black
URxvt*shading:           90
URxvt*inheritPixmap:     true
URxvt*scrollBar:         false
URxvt*underlineURLs:     true

! Xterm settings

Xterm*background: black
Xterm*foreground: grey

! calm theme by dkeg

*foreground:  #adb7c1
*background:  #1a1b1d

*color0: #1d1f21
*color1: #ab6548
*color2: #88aa55
*color3: #8e6b23
*color4: #446688
*color5: #f9f9f9
*color6: #558888
*color7: #aabbcc
*color8: #445566
*color9: #dd7777
*color10: #bbdd88
*color11: #ccb05f
*color12: #7799bb
*color13: #abacae
*color14: #88bbbb
*color15: #ddeeff
